
.payroll-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
     width:100%;
    background-color:white;
    padding:1rem;
    display:flex;
    flex-direction: column;
    gap:0.3rem;
  
    .title-bar {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .content-wrapper {
      .search-add-new-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
  
        .button-wrapper {
          button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;
            margin-right: 10px;
          }
  
          button:hover {
            background-color: #0056b3;
          }
        }
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
  
        th,
        td {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: left;
        }
  
        th {
        //   background-color: #f2f2f2;
          font-weight: bold;
        }
  
        td {
          &:first-child {
            font-weight: bold;
          }
  
          span {
            display: inline-block;
            padding: 4px 8px;
            background-color: #007bff;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
          }
        }
      }
    }
  
    .status-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
  
      .status-loader-content {
        text-align: center;
  
        p {
          margin-top: 10px;
        }
      }
    }
  }
  